body{
	margin:0;
	font-family:Arial,sans-serif;
}
.navbar{
	background:#333;
	overflow:hidden;
}
.navbar a{
	float:left;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}
.navbar .icon{
	display:none;
}

@media screen and (max-Width:600px){
	.navbar a:not(:first-child){
		display:none;
		}
		.navbar .icon{
			display:block;
		}
		.navbar.responsive a{
			display:block;
			float:left;
			clear:both;
			color:white;
			text-align:center;
			padding:14px 16px;
			text-decoration:none;
		}
		
		
		
}
